body {
    height: 120vh; 
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding: 50px 0px;
}

.container .heroes {
    display: flex; /* 수평정렬 */
    flex-wrap: wrap; /* 줄바꿈 부모 */
    justify-content: center; /* 가운데 정렬 */
    /* background-color: orange; */
    max-width: 700px; /* 최대 너비 고정 */
    margin: 0 auto; /* 좌우 가운데 고정, width가 있을 때만 적용 가능 */
    padding: 40px 20px; /* 상하 여백 */
}

/* 이미지박스 네모칸 */
.container .heroes .hero { 
    width: 80px; height: 84px;
    background-color: #555;
    margin: 4px; /* 이미지 사이즈 여백 */
    border: 3px solid #fff; /* solid 실선 */
    transform: skewX(-14deg); /* 기울기 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-sizing: border-box; /* 속성 적용시에도 기존의 크기가 적용됨 */
    /* transition: 0s;  이미지 자연스러운 효과 */
    transition: transform 0.2s, background-color .8s;
    overflow: hidden; /* 이미지가 넘친 것을 숨겨냄 */
}

/* 이미지박스 네모칸 마우스효과 */
.container .heroes .hero:hover {
    background-color: #ff9c00; transition: 0.5s;
    transform: scale(1.3) skewX(-14deg); /* 크기, 기울기 */
    z-index: 1; /* 마우스 올렸을 떄 레이아웃 맨 위로 */
}

.container .heroes .hero .image {
    width: 140%; height: 100%; /* 여러개의 image속성을 묶어서 크기를 한번에 적용 */
    /* 이미지는 문자요소라 위에 너비,높이가 있어도 다시 지정해줘야 보여짐 */
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat; /* 배경이미지 반복 제거 */
    transform: skew(14deg) translate(-14px); /* 이미지 기울기, 왼쪽을 이동 */
}


.container .heroes .hero:nth-child(1) .image {
    background-image: url("./images/hero1.png");
}
.container .heroes .hero:nth-child(2) .image {
    background-image: url("./images/hero2.png");
}
.container .heroes .hero:nth-child(3) .image {
    background-image: url("./images/hero3.png");
}
.container .heroes .hero:nth-child(4) .image {
    background-image: url("./images/hero4.png");
}
.container .heroes .hero:nth-child(5) .image {
    background-image: url("./images/hero5.png");
}
.container .heroes .hero:nth-child(6) .image {
    background-image: url("./images/hero6.png");
}
.container .heroes .hero:nth-child(7) .image {
    background-image: url("./images/hero7.png");
}
.container .heroes .hero:nth-child(8) .image {
    background-image: url("./images/hero8.png");
}
.container .heroes .hero:nth-child(9) .image {
    background-image: url("./images/hero9.png");
}
.container .heroes .hero:nth-child(10) .image {
    background-image: url("./images/hero10.png");
}
.container .heroes .hero:nth-child(11) .image {
    background-image: url("./images/hero11.png");
}
.container .heroes .hero:nth-child(12) .image {
    background-image: url("./images/hero12.png");
}
.container .heroes .hero:nth-child(13) .image {
    background-image: url("./images/hero13.png");
}
.container .heroes .hero:nth-child(14) .image {
    background-image: url("./images/hero14.png");
}
.container .heroes .hero:nth-child(15) .image {
    background-image: url("./images/hero15.png");
}
.container .heroes .hero:nth-child(16) .image {
    background-image: url("./images/hero16.png");
}
.container .heroes .hero:nth-child(17) .image {
    background-image: url("./images/hero17.png");
}
.container .heroes .hero:nth-child(18) .image {
    background-image: url("./images/hero18.png");
}
.container .heroes .hero:nth-child(19) .image {
    background-image: url("./images/hero19.png");
}
.container .heroes .hero:nth-child(20) .image {
    background-image: url("./images/hero20.png");
}
.container .heroes .hero:nth-child(21) .image {
    background-image: url("./images/hero21.png");
}
.container .heroes .hero:nth-child(22) .image {
    background-image: url("./images/hero22.png");
}
.container .heroes .hero:nth-child(23) .image {
    background-image: url("./images/hero23.png");
}
.container .heroes .hero:nth-child(24) .image {
    background-image: url("./images/hero24.png");
}
.container .heroes .hero:nth-child(25) .image {
    background-image: url("./images/hero25.png");
}
.container .heroes .hero:nth-child(26) .image {
    background-image: url("./images/hero26.png");
}
.container .heroes .hero:nth-child(27) .image {
    background-image: url("./images/hero27.png");
}
.container .heroes .hero:nth-child(28) .image {
    background-image: url("./images/hero28.png");
}
.container .heroes .hero:nth-child(29) .image {
    background-image: url("./images/hero29.png");
}
.container .heroes .hero:nth-child(30) .image {
    background-image: url("./images/hero30.png");
}
.container .heroes .hero:nth-child(31) .image {
    background-image: url("./images/hero31.png");
}
.container .heroes .hero:nth-child(32) .image {
    background-image: url("./images/hero32.png");
}

.container .logo {
    max-width: 300px;
    margin: 0 auto;
}

.container .logo img {
    width: 100%;
}

.container .logo2 {
    margin: 0 auto; /* 좌우 가운데 고정, width가 있을 때만 적용 가능 */
    max-width: 100px; /* 최대 너비 */
    padding: 50px; /* 상단 여백 */
    position: absolute; width: 100px; height: 100px;
    bottom: 10%; right: 20%; /* 우측 하단 */
}

/* position: fixed; 위치 고정 */

.container .logo2 img {
    width: 100%;
    
}